@page "/account-statements"
@using Nummus.Service
@inject IAccountStatementService AccountStatementService
@inject FormatService FormatService
<h1 class="margin-left-2">Account Statements</h1>
<div class="margin-left-2">
    @{ var generatableStatement = AccountStatementService.GeneretableStatement();}
    @if (generatableStatement != null) {
        <MatButton OnClick="@(() => { AccountStatementService.GenerateStatement(); })">
            Generate @generatableStatement.Value.Month / @generatableStatement.Value.Year
        </MatButton>
    } else {
        <p>
            There are no statements generatable as of now.
        </p>
    }
</div>

<div class="margin-left-2">
    @{ var accountStatements = AccountStatementService.GetAllStatements(); }
    @if (accountStatements.Length > 0) {
        <h3>Already Generated Statments:</h3>
    }
    @foreach (var statements in accountStatements) {
        <p>
            @statements.Account.Name @statements.BookingDate.Month / @statements.BookingDate.Year: @FormatService.FormatToLocalCurrency(statements.ClosingSum)
        </p>
    }
</div>