@using Nummus.Service
@using Nummus.Data
@inject FormatService FormatService
@inject IAccountService AccountService
@inject IMatDialogService MatDialogService
@inject IBookingLineService BookingLineService
<div class="account-card">
    <div class="flex flex-space-between">
        <div>
            <MatHeadline6 class="margin-1">@AccountName</MatHeadline6>
        </div>
        <div class="flex flex-align-center">
            <MatButton Primary="true"
                       Class="force-white-text margin-right"
                       OnClick="@OpenBookingLineDialog">
                <MatIcon Icon="add_box" />
            </MatButton>
        </div>
    </div>
    <MatSubtitle2 Class="margin-left-1 margin-top-0">
        @FormatService.FormatToLocalCurrency(AccountService.GetCurrentAccountBalance(AccountId))
    </MatSubtitle2>
</div>

<MatDialog IsOpen="@_addBookingLineDialogOpen">
    <MatDialogTitle Class="force-white-text">Add Booking Line</MatDialogTitle>
    <MatDialogContent>
        <div class="margin-1">
            <MatTextField @bind-Value="@_newBookingLine.BookingText" Label="Booking line text" />
        </div>
        <div class="margin-1">
            <MatTextField @bind-Value="@_newBookingLine.Amount" TValue="decimal" Label="Booking line amount" />
        </div>
        <div class="margin-1">
            <MatDatePicker @bind-Value="@_newBookingLine.BookingTime" EnableTime="true" />
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@CloseBookingLineDialog">Cancel</MatButton>
        <MatButton OnClick="@SaveBookingLine">Save</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    [Parameter]
    public int AccountId { get; set; }
    
    [Parameter]
    public string AccountName { get; set; }

    private bool _addBookingLineDialogOpen;
    private BookingLine _newBookingLine = new BookingLine();

    void OpenBookingLineDialog() {
        _addBookingLineDialogOpen = true;
    }

    void CloseBookingLineDialog() {
        _newBookingLine = new BookingLine();
        _addBookingLineDialogOpen = false;
    }

    void SaveBookingLine() {
        BookingLineService.CreateBookingLine(AccountId, _newBookingLine);
        CloseBookingLineDialog();
    }
}
